In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [143]:
from sklearn.linear_model import LinearRegression, Ridge, SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn import svm

In [185]:
data  = pd.read_csv('problem_2_train.csv',parse_dates=['memcreateddate', 'mobilepurchasedate',
       'claimintdate','pickupStartdate'])
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [186]:
data['mem-purchase'] = (data.mobilepurchasedate - data.memcreateddate).dt.days
data['pickup-claim'] = (data.pickupStartdate - data.claimintdate).dt.days

In [187]:
claim = list(data.claimtype.unique())
mob = list(data.mobmake.unique())
pin_cat  = list(data.custpincodecategory.unique())

claim_map = {k:v for v,k in enumerate(claim)}
mob_map = {k:v for v,k in enumerate(mob)}
pin_map = {k:v for v,k in enumerate(pin_cat)}

In [191]:
print(pin_map)


data.claimtype = data.claimtype.map(claim_map)
data.mobmake = data.mobmake.map(mob_map)
data.custpincodecategory = data.custpincodecategory.map(pin_map)

data.head()

{'A': 0, 'B': 1, 'C': 2, '0': 3, 'D': 4}

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,mem-purchase,pickup-claim
0,2851218,NaN,7,500004,233,233,131,NaN,NaN,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,-146,5
1,2838330,NaN,10,226010,233,233,131,NaN,NaN,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12,-1,4
2,2835781,NaN,2,110018,233,233,228,NaN,NaN,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9,-5,9
3,2838589,NaN,2,110018,233,233,228,NaN,NaN,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9,14,10
4,2855214,NaN,21,110015,233,233,131,NaN,NaN,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8,-3,5

In [63]:
data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days',
       'mem-purchase', 'pickup-claim'],
      dtype='object')

In [194]:
X = data[['mobmake', 'hubid', 'hubpincode', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode','servicecntrid','mem-purchase', 'pickup-claim']]
y = data.tat_in_days

### Using variance Threshold

In [65]:
# from sklearn.feature_selection import VarianceThreshold
# sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
# X = sel.fit_transform(X)

In [66]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.3)

### Linear Regression

In [67]:
lr = LinearRegression()
lr.fit(X_train,y_train)
lr_pred = lr.predict(X_test)
mse = metrics.mean_squared_error(y_test,lr_pred)

print('Training Score:',lr.score(X_train, y_train))
print('Testing Score:',lr.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

Training Score: 0.11244448669494812
Testing Score: 0.0918237138047543
Root Mean squared Error: 4.6989701449522725

### Random Forrest Regressor

In [68]:
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)
mse = metrics.mean_squared_error(y_test,rf_pred)

print('Training Score:',rf.score(X_train, y_train))
print('Testing Score:',rf.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

Training Score: 0.8423544971185779
Testing Score: 0.13172845050087212
Root Mean squared Error: 4.594575498672403

/home/mayday/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

### KNN Regressor

In [69]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
knn_pred = knn.predict(X_test)
mse = metrics.mean_squared_error(y_test,knn_pred)

print('Training Score:',knn.score(X_train, y_train))
print('Testing Score:',knn.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

Training Score: 0.39146368248981156
Testing Score: 0.06924074194837504
Root Mean squared Error: 4.757034370277347

### Ridge Regressor

In [70]:
ridge = Ridge()
ridge.fit(X_train,y_train)
ridge_pred = ridge.predict(X_test)
mse = metrics.mean_squared_error(y_test,ridge_pred)

print('Training Score:',ridge.score(X_train, y_train))
print('Testing Score:',ridge.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

Training Score: 0.11198619077178618
Testing Score: 0.0924149142097115
Root Mean squared Error: 4.697440439018629

### SVM Regressor

In [71]:
svc = svm.SVR()
svc.fit(X_train,y_train)
svc_pred = svc.predict(X_test)
mse = metrics.mean_squared_error(y_test,svc_pred)

print('Training Score:',svc.score(X_train, y_train))
print('Testing Score:',svc.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

/home/mayday/.local/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Training Score: 0.21575748511371007
Testing Score: -0.01846931369814464
Root Mean squared Error: 4.976128434941604

### SGD Regressor

In [72]:
sgd = SGDRegressor(tol = 0.0001)
sgd.fit(X_train,y_train)
sgd_pred = sgd.predict(X_test)
mse = metrics.mean_squared_error(y_test,sgd_pred)

print('Training Score:',sgd.score(X_train, y_train))
print('Testing Score:',sgd.score(X_test, y_test))
print('Root Mean squared Error:',np.sqrt(mse))

Training Score: -3.593395566915525e+38
Testing Score: -3.964339996654226e+38
Root Mean squared Error: 9.817548467191723e+19

In [73]:
models = pd.DataFrame({
    'Model': ['Linear Regressor','Random Forest Regressor','KNN Regressor','Ridge Regressor','SVM Regressor','SGD Regressor'],
    'Training Score': [ lr.score(X_train, y_train),rf.score(X_train, y_train), knn.score(X_train, y_train), ridge.score(X_train, y_train),svc.score(X_train, y_train),sgd.score(X_train, y_train)],
    'Test Score': [ lr.score(X_test, y_test),rf.score(X_test, y_test), knn.score(X_test, y_test), ridge.score(X_test, y_test),svc.score(X_test, y_test),sgd.score(X_test, y_test),]
    })
models.sort_values(by='Test Score', ascending=False)

                     Model  Training Score    Test Score
1  Random Forest Regressor    8.423545e-01  1.317285e-01
3          Ridge Regressor    1.119862e-01  9.241491e-02
0         Linear Regressor    1.124445e-01  9.182371e-02
2            KNN Regressor    3.914637e-01  6.924074e-02
4            SVM Regressor    2.157575e-01 -1.846931e-02
5            SGD Regressor   -3.593396e+38 -3.964340e+38

In [74]:
parameters = [{'max_depth' : [5, 7, 9, 11, 12],
               'max_features' : [2, 3, 4, 5],
               'n_estimators' : [10, 15, 20, 17, 22, 25],
               'random_state' : [7, 8, 10, 12]}]

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = rf,param_grid = parameters,
                           scoring = 'neg_mean_squared_error',n_jobs = -1, cv = 10)

grid_search.fit(X_train, y_train)

best_accuracy = grid_search.best_score_
print("Best accuracy of the model for the training set is:", best_accuracy)

best_params = grid_search.best_params_
print("Best parameters of the model for the training set is:", best_params)

Best accuracy of the model for the training set is: -19.707009496297445
Best parameters of the model for the training set is: {'max_depth': 9, 'max_features': 3, 'n_estimators': 25, 'random_state': 8}

/home/mayday/.local/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [77]:
regressor = RandomForestRegressor(max_depth = 9, max_features = 3,
                                  n_estimators = 16, random_state = 7)
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=9,
           max_features=3, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=16, n_jobs=None, oob_score=False, random_state=7,
           verbose=0, warm_start=False)

### Applying k-fold cross validation again to check mean accuracies in dataset

In [78]:

from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator = regressor, X = X_train, 
                             y = y_train, cv = 10, n_jobs = -1)

print("Showing all 10 of K-Fold Cross Validation accuracies:\n", accuracies)
accuracies_mean = accuracies.mean()
print("\nMean of accuracies:\n", accuracies_mean)
accuracies_std = accuracies.std()
print("\nStandard Deviation:\n", accuracies_std)

Showing all 10 of K-Fold Cross Validation accuracies:
 [0.2527191  0.20724321 0.23320755 0.21112979 0.23445551 0.24504536
 0.28147998 0.26467444 0.28228748 0.23750784]

Mean of accuracies:
 0.24497502811906252

Standard Deviation:
 0.024590561263009906

### According to above findings we use the following classifier for our predictions

In [189]:
test = pd.read_csv('problem_2_test.csv')
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [190]:
test.claimtype = test.claimtype.map(claim_map)
test.mobmake = test.mobmake.map(mob_map)
test.custpincodecategory = test.custpincodecategory.map(pin_map)
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,0.0,3,560011,233,233,131,0,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,1.0,2,110018,233,233,228,0,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,1.0,3,560011,233,233,228,2,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,1.0,2,110018,233,233,228,1,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,0.0,22,400104,233,233,131,2,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

### Checking for null values in test data

In [31]:
print(test.isna().sum())

NameError: name 'test' is not defined

### Filling null values with median value of column

In [33]:
test.Albumin_and_Globulin_Ratio.fillna(test['Albumin_and_Globulin_Ratio'].median(), inplace=True)

NameError: name 'test' is not defined

### Creating a new file for saving the predicted labels for test data

In [35]:
answers = pd.DataFrame(classifier.predict(test))
answers.to_csv('test_data_answers.csv', index=False,header=['Dataset'])

NameError: name 'classifier' is not defined

### Appending to test data

In [ ]:

test['Dataset'] = answers
test.to_csv('test_data with answers.csv')